{% extends 'base.html.twig' %}

{% block title %}{{ Cours.nom }}{% endblock %}

{% block body %}
 <h1>{{ Cours.nom }}</h1>
 <p>{{ Cours.type }}</p>
 <p>{{ Cours.coach }}</p>
 <p>{{ Cours.salle }}</p>

 <hr>
 <a href="/" style="color:#FFD700">Retour</a>
{% endblock %}